.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 295px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  @include media(mobile) {
    text-align: left;
  }

  section {
    width: 20.2%;
    display: inline-block;
    padding-right: 44px;
    padding-bottom: 25px;

    @include media(tablet) {
      width: 41%;
    }

    @include media(mobile) {
      width: 95%;
    }

    &:hover {
      animation: shake .85s cubic-bezier(.36,.07,.19,.97) both;
      backface-visibility: hidden;
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }

    &:nth-child(4) {
      padding-right: 0;
    }

    &:nth-child(even) {
      @include media(tablet) {
        padding-right: 0;
      }
    }

    div {
      width: 100%;
      border-radius: 5px;
      background: #ededed;

      h1 {
        font-family: 'Dosis', sans-serif;
        font-size: 26px;
        text-align: center;
      }

      img {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      p {
        padding-left: 15px;
      }
    }
  }
}
